body {
  margin: 0px;
  padding: 0px;

  overflow-x: hidden;
  overflow-y: hidden;
}


* {
  font-family: sans-serif;
}

.guioverlay {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.topoverlay {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    position: absolute;
    width: 250px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
 }

.bottom_menu {
    position: absolute;
    width: 100%;
    background: black;
    height: 100px;
    bottom: 0;
    overflow: scroll;
    padding: 0;
    color: white;
}

.right_menu {
    position: absolute;
    background: black;
    width: 100px;
    height: 100%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    padding: 0;

}



#customer_list {
    position: absolute;
    height: 100px;
    padding: 0;
}

.cust {
    width: 100px;
    height: 100px;
    display: inline-block;
    color: white;
    list-style: none;
}


.left {
    display: inline;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.right {
    display: inline;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
